@font-face {
  font-family: "Groteska";
  src: url("./assets/fonts/Groteska-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Groteska";
  src: url("./assets/fonts/Groteska-Light.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Groteska";
  src: url("./assets/fonts/Groteska-Book.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Groteska";
  src: url("./assets/fonts/Groteska-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Groteska";
  src: url("./assets/fonts/Groteska-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Groteska";
  src: url("./assets/fonts/Groteska-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Groteska";
  src: url("./assets/fonts/Groteska-Heavy.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

:root {
  --bg: #0c120c;
  --primary-gradient: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    linear-gradient(245.63deg, #fed54b 13.57%, #f5b2e6 46.99%, #8ceaff 84.08%);
  --blue: #8ceaff;
  --pink: #f5b2e6;
  --yellow: #fed54b;
  --green: #a4fe4b;
  --red: #fe4b4b;
  --font-xxs: 8px;
  --font-xs: 10px;
  --font-sm: 12px;
  --font-md: 15px;
  --font-lg: 18px;
  --font-xl: 22px;
  --font-xxl: 25px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Groteska;
  background: var(--bg);
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 12px;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  border-radius: 10px;
  border: 0.5px solid rgba(255, 255, 255, 0.3);
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
